
/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right. The exception to this
 * is IE6 which will just hide the navigation block completely in these
 * instances due to a positioning bug.
 */

body {
	margin:0;
}

#header {
display: none;	
}

#page-wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	background-color: red;
}

#page {
	margin: 0 auto;
	padding: 0;
	float: left;
	background-image:url('http://www.swiftsurepreview3.com/colin/BRHBackground.jpg');
}

div p
{
margin: 0px;
padding: 0px;
}

.section
{
padding: 0px;
margin: 0px;
}

.clearfix
{
padding: 0px;
margin: 0px;
}

.region #region-footer
{
padding: 0px;
margin: 0px;
}

.content
{
padding: 0px;
margin: 0px;
}


.banner
{
float: left;	
height: 147px;
}


#bannerLeft
{
width: 180px;
xbackground-color: #B9CCCA;
background-color: teal;

}

#bannerCenter
{
width: 600px;	
background-color: navy;
}

#bannerRight
{
width: 180px;	
background-color: green;
}

#xcontent {
	float:left;
	margin: 50px;
}

.gutter {
float: left;
width: 180px;	
}


#gutterLeft
{
background-color: green;
}


#gutterRight
{
background-color: teal;
}

#content 
{
float:left;
width: 546px;
background-color: white;
padding: 27px;
font-size: 12px;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #5C5C5C;	
}

#photoBox 
{
position: relative;
float: left;
height:280px;	
}

#sidebar-first
{
z-index:3;	
xheight: 280px;
position: absolute;
padding-top: 20px;
padding-left: 10px;
text-align: center;
background-color: 
} 

#sidebar-first-opacity {
z-index:2;
background-color: #8a8076;
opacity: .47;
width: 180px;
height: 280px;
position: absolute;
text-align: center;
}
		
.menu-block-1 ul
{
text-align: center;
margin: 0px;
padding: 0px;
 }		
	
.menu-block-1 ul li
{
display:block;
white-space:nowrap; 
margin:5px;
}		

.menu-block-1 ul li.first
{
margin-top: 10px;	
}		

.menu-block-1 a
{
font-weight: normal;	
text-decoration: none;	
color:white;
font-family: arial;
font-size: 19px;
font-family: Verdana, Arial, Helvetica, sans-serif;
}		

.menu-block-1 a:hover
{
 color:#e08e37;
}		

.menu-block-1 a:active
{
 color:#e0a363;
}		

.menu-block-1 .active
{
 color:#e0a363;
}		

.menu-block-1 .first .active
{
 color:silver;
}		

.menu-block-1 .last .active
{
 color:silver;
}		


.menu-block-1 .active-trail
{
 color:#e0a363;
}		


#mainContent
{
float: left;	
}
 
.menu-block-2
{
float: left;	
}

#block-menu-block-2
{
padding:0px;	
}
	
.tabsBlock
{
font-size: 14px;
padding-bottom: 10px;
}
	
#menu-block-2_section
{
float: left;	
margin-right: 10px;
}
	
	
#menu-block-2_dots
{
padding-top: 3px;	
float: left;	
}
 	
#menu-block-2_tabs
{
float: left;	
}

#menu-block-2_tabs ul
{
  display: inline;
  list-style-type: none;
  padding-right: 0px;
}

#menu-block-2_tabs ul li
{
  display: inline;
  list-style-type: none;
  padding-right: 4px;
}
	


.menu-block-2 .menu
{
padding: 0px;	
padding-right: 0px;	
}


#tabs .menu-block-2 .menu li
{
padding: 0px;	
padding-right: 0px;	
}


.menu-block-2 a
{
font-weight: normal;	
 text-decoration: none;	
 color:#38140f;
 font-family: arial;
 xfont-size: 11px;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 }		


.menu-block-2 a.active
{
 color:#e0a363;	
}

.menu-block-2 a:hover
{
 color:#baccc9;	
}





 		
#photo {
	position: relative;	
	float:left;
	width:960px;
	height: 280px;
	}

#tabs {
	float:left;
	width:960px;
}



/* Top photos section */

#footer
{
height: 73px;
width: 960px;
float: left;
background-color: #635747;	
}	

.footer
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: white;	
margin-top: 12px;
line-height: 16px
}


#footer_phone1
{
	
margin-left: 33px;	
float: left;	
text-align: right;
}

#footer_phone2
{
margin-left: 2px;	
float: left;	
}

#footer_emailAddress
{
margin-left: 30px;	
float: left;	
}

#footer_emailAddress a
{
color: white;	
}



#footer_facebook
{
margin-left: 22px;	
margin-top: 25px;	
float: left;	
}

#footer_twitter
{
margin-left: 5px;		
margin-top: 25px;	
float: left;	
}

#footer_copyright
{
margin-top: 30px;	
margin-left: 185px;	
float: left;	
font-size: 10px;
}


#footer_websiteBy
{
margin-left: 22px;	
margin-top:30.5px;	
float: left;
font-size: 9px;
}

#footer_websiteBy a
{color: red;
}




.section {
	margin:0;
	float:left;
}

#block-views-top-photos-block-1{
	float:left;
	width:400px;
}
.view-top-photos .views-field-field-upper-left {
	float:left;
	width:400px;
	height:110px;
}

.view-top-photos .views-field-field-lower-left {
	float:left;
	width:400px;
	height:170px;
}
#block-views-top-photos-block {
	float:left;
	width:560px;
}

/* Main menu */


/* secondary menu */

#block-menu-block-2 {
	float:left;
}

